#container
{
  height: 500px;
  max-width:750px;
  margin:auto;
  border-style:dotted;
  margin-top: 40px;
}
#container2
{
  height: 500px;
  max-width:750px;
  margin:auto;
  border-style:dotted;
  margin-top: 120px;
}
body
{
    background-color:rgb(26, 26, 26)
}
h2
{
    text-align: center;
    margin-top: 50px;
    font-size: x-large;
    color: white;
} 
p
{
  font-size: medium;
    text-align: center;
    margin-top: 50px;
    color: white;
} 