.chartcontainer
{
  height: 500px;
  max-width:750px;
  margin:auto;
  border-style:dotted;
}
body
{
    background-color:rgb(26, 26, 26)
}
h2
{
    text-align: center;
    margin-top: 50px;
    font-size: x-large;
    color: white;
}