#inFlow{
    position: relative;
    top: 0.5%;
    border: 6px solid #f5eded;
    border-radius: 15px;
    margin: 50px;
}

table{
    margin-left: auto;
    margin-right: auto;
    font-size: smaller;
    border: 3px solid #f5eded;
    border-radius: 15px;
    margin: 50px;
    padding: 50px;
}

td{
    border: 200px;
    margin-left: auto;
    margin-right: auto;
}